@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');
@import "normalize.css";

html,
body {
  height: 100%;
}

ul {
  padding: 0;
}

body {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 700;
  background-color: #B59797;
  color: #3C2A2A;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: #3C2A2A;
  text-decoration: none;
}

/*header*/

.navigation-list {
  display: flex;
  margin-top: 140px;
  margin-right: 50px;
  margin-bottom: 80px;
  justify-content: end;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navigation-item {
  margin-right: 38px;
}

.navigation-item:last-child {
  margin-right: 0;
}

/*main*/

.main {
  flex: 1 1 auto;
}

.speciality {
  display: block;
  margin-left: 100px;
  font-size: 18px;
  line-height: 22px;
}

.specialist-name {
  font-weight: 600;
  font-size: 80px;
  line-height: 97px;
}

.about_me {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-left: 50px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.text {
  max-width: 630px;
  text-indent: 15px;
}

.text p {
  margin-bottom: 10px;
}

.about_me ul {
  list-style: inside;
}

.images_main {
  position: relative;
  margin-right: 10%;
  padding-left: 20px;
}


.white_block {
  position: absolute;
  background-color: #fff;
  width: 1000px;
  height: 867px;
  z-index: -1;
  top: -35px;
  right: 0;
}

.navigation-button {
  font-size: 20px;
  line-height: 24px;
}

/**************************************flex*/
.flex-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: end;
  margin-bottom: 146px;
}

.flex-item-1,
.flex-item-2,
.flex-item-3 {
  position: relative;
  background-color: #FBF6F6;
  display: flex;
  align-items: center;
  width: 560px;
  height: 103px;
}

.flex-item-1 {
  margin-left: 41px;
}

.wrapper_flex-item {
  padding-left: 94px;
}

/*:after*/

.flex-item-1::after,
.flex-item-2::after,
.flex-item-3::after {
  content: "";
  background-image: url(../img/vector_button.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 50px;
}

/******************************************/
/*footer*/

.footer {
  background-color: #3C2A2A;
  min-width: 100%;
  max-height: 265px;
  color: #FBF6F6;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 103px;
  padding-bottom: 100px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
}

.social-list li {
  margin-top: 21px;
  margin-right: 20px;
}

.home-link {
  color: #FBF6F6;
  text-decoration-line: underline;
}

.email {
  color: #FBF6F6;
  text-decoration-line: underline;
}

/*адаптивность сайта*/
@media (max-width: 1240px) {

  .flex-container {
    max-width: 1124px;
  }

  .flex-item-1,
  .flex-item-2,
  .flex-item-3 {
    width: 500px;
  }

  .flex-item-1 {
    margin-left: 200px;
  }
}

@media (max-width: 1080px) {

  .wrapper_flex-item {
    padding-left: 40px;
  }

  .flex-container {
    max-width: 943px;
    margin-bottom: 80px;
  }

  .flex-item-1,
  .flex-item-2,
  .flex-item-3 {
    width: 380px;
  }

  .flex-item-1 {
    margin-left: 400px;
  }

  .white_block {
    width: 100%;
  }

}

@media (max-width: 1000px) {
  .white_block {
    height: 959px;
  }
}

@media (max-width: 885px) {
  .white_block {
    height: 1015px;
  }
}

@media (max-width: 840px) {
  .white_block {
    height: 1068px;
  }

  .flex-item-1 {
    margin-left: 200px;
  }

  .flex-container {
    max-width: 758px;
  }

  .flex-item-1,
  .flex-item-2,
  .flex-item-3 {
    width: 290px;
  }

  .flex-item-1::after,
  .flex-item-2::after,
  .flex-item-3::after {
    background-image: url(#);
  }

  .wrapper_flex-item {
    padding-left: 20px;
  }

  .about_me {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
  }

  .white_block {
    height: 1193px;
  }

  .speciality {
    margin-left: 10px;
  }
}

@media (max-width: 660px) {

  .flex-container {
    max-width: 758px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .flex-item-1 {
    margin-left: 0px;
  }

  .flex-item-1,
  .flex-item-2,
  .flex-item-3 {
    width: 500px;
  }
}

@media (max-width: 648px) {
  .flex-container {
    margin-top: 50px;
  }

  .white_block {
    height: 1270px;
  }
}

@media (max-width: 591px) {

  .white_block {
    height: 1371px;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 140px;
    margin-right: 50px;
    margin-bottom: 80px;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}