@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');
@import "normalize.scss";



body {
  font-family: 'Cormorant', serif;
  background-color: #B59797;
  color: #3C2A2A;
}



a {
  color: #3C2A2A;
}
@import "header.scss";
@import "footer.scss";

.about_me ul {
  list-style: inside;
}

